@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    padding: 0;
    margin: 0;
}
html{

    scroll-behavior: smooth;
    min-width: 100%;
    
}

body{
    margin: 0 !important ;
    padding: 0 !important;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    padding: 50px 0px  0px  0px;
    justify-content: center;
    flex-direction: column;
}

.joinbutton{
    background-color: #0033cc;
    color: #fff;
    text-align: center;
    margin: 5px 10px;
}

.joinbutton:hover{
    background-color:darkblue;
    color:#fff;
    transition: 0.1s ease-in;
}
.container,.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
    min-width: 100%;
}
.col-md-4,col-sm-12{
    display: flex;
    align-items: center;
    justify-content: center;

}

#scrollbutton{
    display: none;
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-size: 28px;
}

.container-fluid{
    margin:5px 0px;
}

.nav-logo{
    height:55px;
    width: 150px;
    margin-left: 100px;

}

.navbar{
    background-color:white;
    box-shadow: 0px 2px 26px rgba(0,0,0,0.3);
    z-index: 99;
    padding: 5px;


}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color:#0033cc;
    margin: 1px 7px ;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:green ;

}
.nav-link:active{
    color: greenyellow;
}
.navbar-nav{
    padding-right: 70px;
}



.heading{
    width: 75%;
    color: black;
    margin: 0  auto;
    padding-top: 2.5rem;
    font-size: 2rem;
    text-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  margin-top: 30px;
}

hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top:0.3rem ;
    margin-bottom:1rem ;
  
  
  }


    
    .header-details{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        text-align: center;
        height: 100%;
        color:blue;
        font-weight: 700;
        
        
    }
    #header{
        font-size: 45px;
    }
    .header-container{
        padding:30px 10px 30px; 
    }
    

.button-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
}

.program-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.program{
    margin: 15px auto;
    border-radius: 30px;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in;


}

.comingsoon{
    font-size: 25px;
    font-weight: bold;
}

.program .card-img-top{
    height: 260px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.item{
background-color:black;
color:white;
padding: 10px;
height: 100% !important;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content:space-evenly;
align-items: center;
width: 80% !important;
background-color:rgb(53, 50, 53);
margin:10px auto;

}

.item:hover{
    transform: scale(1.03);


}
.fa-star {
    color: #ffc107;
}

.program:hover{
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)!important;
    transform: scale(1.05);

}

.card-img-top{
    height: 150px ;
}

.mentor{
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 350px;
    min-width:30%;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)!important
}





.mentor-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.mentor-details{
    font-size: 1.2rem;
    padding: 25px;
    text-align: center;
}
.mentor-image{
    width: 150px;
    height:150px;
    border-radius: 50%;
    
}

.mentor-name{
    font-weight: bold;
    font-size: 25px;
}
.mentor-name:hover a{
    text-decoration: none;
}


.image-container{
    padding-right:0px !important;
    padding-left: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;

}


.contact .contactsection{
       text-align: left;
        margin-bottom: 10rem;
        margin: 2px auto;
        width: 100%;
        border-radius: 10px;

}

 label{
    text-align: center;
} 

.form-group{
    display: flex;
    align-items: center;
    text-align: left;
}



.button{
    width: 140px;
    margin: 5px 5px ;
    padding: 10px;
    color:white;
    border-radius: 5px;
    outline: none;
    border: none ;
    background-color:blue; 
    display:inline-block;   
        
}





.swiper-container{
    height: 500px;

}

.swiper-slide{
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    min-height: 300px;
    border-radius: 30px !important;


}
.swiper-button-prev,.swiper-button-next{
    color:greenyellow !important;
    color:orangered !important;

}

.swiper-pagination-bullet{
    color: black;
    background-color: black !important;
}

  

.studentimg{
border-radius: 50%;
height: 120px;
width: 120px;
border:3px solid white;
margin-bottom: 5px;

}

.testimonial{
    background-color:white;
    color: white;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(40deg,#45cafc,#303f9f) !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.contactheading{
    margin: 30px 0px;
}

.quicklinks li{
    margin-top: 12px;
}

.quicklinks li a {
    color: white;
    
}

.quicklinks li a:hover{
    color:#ffc107;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.footer{
    height: auto;
    width: 100%;
    padding: 0px 90px 0px;


}
.footer-heading{

    margin:auto 5px;
    font-size: 30px;
}

.footer-logo{
    width: 200px;
    height: 62px;
    margin-right: 10px;
}
.footer-header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.social .fa {
    padding: 10px;
    border-radius: 5px;
    color:black;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
    width: 35px;
    background-color: #fff;
    font-weight: bold;
  }

.fa {
    font-size: 35px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 35px;
    font-weight: bold;
  }

  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }

.fa-youtube {
  background: #bb0000;
  color: white;
}

.social-link{
    color: black;
    font-weight: 600 ;
    font-size: 1.2rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 200px;

}
.social-link>p{
margin-bottom: 5px;
width: 200px;
text-align: left;

}

.social-link>i{
    font-size: 25px;
    padding: 5px;
}

.social-link:hover{
    text-decoration: none;

}


.social-link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    text-align: center;

    
}

.link-container{
    display:flex;
    width: 100%;
    font-weight: bold !important;
    justify-content: center;
    margin-bottom: 15px;
}


.address{
        border-left: 4px solid blue;
        text-align: left;
}



@media  (max-width : 380px){
    .nav-logo{
        margin-left: 50px;
    
    }
    
    .fa-star{
        margin-right: 0px;
    }
.studentimg{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border:3px solid white;
    margin-bottom: 5px;
    
    }

    .contact .contactsection{
        text-align: center;
         padding:10px 5px;
         margin-bottom: 10rem;
         margin: 2px auto;
         width: 95%;
 }

 .card-img-top{
    height:170px !important;
     
 }

    .headerimage{
        margin-top: 5px;
        padding: 0px;
        height: 240px;
        padding: 20px;

    }

    .row{
        margin-right: 0px !important;
        margin-left: 0px !important;
        min-width: 100%;
    }
    .col-sm-10,.col-md-6{
        padding-left: 10px;
        padding-right: 10px;
    }

    .mentor{
        display: block;
        width: 100%;
    }

 

    #header{
        font-size: 30px !important;
        font-weight:600;
    }


    .footer-logo{
        float: left !important;
        margin: 10px auto !important;
            width: 280px;
            height: 250px;
        
       
    }


    .footer-heading{
        font-size: 25px !important;
        text-align: center;
        height: 100%;
        vertical-align: middle;
    }
    .footer-logo{
        height: 50px;
        width: 150px;
    }
    .footer-header-container{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    

  
    .footer-header-container{
        flex-direction: column;
    }

  
   

   

}

@media(max-width : 990px){
    #header{
        font-size: 27px ;
    }
    
    .mentor{
        width: 100% !important ;
        padding: 5px;
        height: 100%;
        margin: 50px auto;
    }

    .footer{
        padding: 20px;
    }
    .footer-heading{
        font-size: 30px;
    }
    .footer-logo{
        display: block;
    }


 

  

   

}

 @media (max-width : 750px){

    .nav-logo{
        margin-left: 15px;
    }
    .footer-heading{
        font-size: 23px;
        text-align: center;
        display: block;
        clear: both;
    }

    #header{
        font-size: 40px;
        font-weight: 550;
    }
    .header-container{
        margin-top: 10px; 
    }
    
    

    .mentor{
        width: 70% !important;
        padding: 5px;
    }

    .program{
        width: 100% ;
    }
    .card-img-top{
        height: 350px;
    }

    .contact .contactsection{
        width: 100%;
    }
   
    .footer-logo{
        width: 140px;
        height: 50px;
    }


   

  


}
 
