@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    padding: 0;
    margin: 0;
}
html{

    scroll-behavior: smooth;
    min-width: 100%;
    
}

body{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    padding: 50px 0px  0px;
    justify-content: center;
    flex-direction: column;
    
}
.container,.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#scrollbutton{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-size: 28px;
}

.container-fluid{
    margin:5px 0px;
}

.nav-logo{
    height:80px;
    width: 200px;

}

.navbar{
    background-color:white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    z-index: 99;


}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Lato', sans-serif;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    color:#0033cc;
    margin: 10px 30px ;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:green ;

}
.nav-link:active{
    color: greenyellow;
}


.heading{
    width: 75%;
    color: black;
    margin: 0  auto;
    padding-top: 2.5rem;
    font-size: 2rem;
    text-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  
  
}

hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top:0.3rem ;
    margin-bottom:1rem ;
  
  
  }


    
    .header-details{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        text-align: center;
        height: 100%;
        color:blue;
        font-weight: 700;
        
        
    }
    #header{
        font-size: 40px;
    }
    .header-container{
        padding: 20px;
    }
    
    
    .headerimage{
        padding: 50pX;


    }



.button-container{
    display: flex;
    align-items: center;
}

.program-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.program{
    margin: 5px auto;
    border-radius: 0px;
    padding: 10px;
    display: flex;
    text-align: center;
    min-width: 60%;
    height: 100%;



}

.program .card-img-top{
    max-height: 300px;
}

.item{
background-color:black;
padding: 10px;
height: 100%;
border-radius: 30px;
display: flex;
flex-direction: column;
justify-content:space-evenly;
align-items: center;
/* flex-wrap: wrap; */
color: white;
}
.item:hover{
    box-shadow: 0 0 60px rgba(0,0,0.1);


}
.fa-star {
    color: #ffc107;
}

.program:hover{
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)!important;
    transform: scale(1.05);

}

.mentor{
    margin: 10px auto;
    border-radius: 5px;
    /* border: 0.5px solid grey; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 70% !important;
    width: 100%;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)!important
}




/* .mentors-container{
} */

.mentor-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

.mentor-details{
    font-size: 1.2rem;
    padding: 25px;
    text-align: center;
}
.mentor-image{
    width: 60%;
    height:90%;
    border-radius: 50%;
    
}

.mentor-name{
    font-weight: bold;
    font-size: 20px;
}
.image-container{
    padding-right:0px !important;
    padding-left: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;

}


.contact .contactsection{
       text-align: center;
        padding:10px 40px;
        margin-bottom: 10rem;
        margin: 2px auto;
        width: 90%;
}

.contact input{
    margin:10px 0px;
}

.button{
    width: 80%;
    margin: 40px auto;
    padding: 10px;
    color:white;
    border-radius: 25px;
    outline: none;
    border: none ;
    background-color:rgba(255, 65, 75, 0.897); 
    display: inline-block;    
        
}


.carousel{
    margin: 5px auto;
    min-height: 600px;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-around;
}
.carousel-inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel-item{
    width: 70%;
    height: 90%;
    margin: 12px auto;
    text-align: center;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color:white;
}

.studentimg{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    

}


.footer{
    height: auto;
    width: 100%;
    height: auto;
    padding-left: 5px;
    /* font-family: 'Lato', sans-serif; */


}
.footer-logo{
    width: 200px;
    height: 52px;
    display: inline;
}

.fa {
    padding: 10px;
    font-size: 18px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
  }

  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background:white;
  color:red;
  outline: 2px solid salmon;
}
.fa-github {
  background:white;
  color:black;
}
.fa-whatsapp {
  background:green;
  color:white;
}
.fa-telegram {
  background:rgb(67, 250, 226);
  color:white;
}
.social-link{
    color: black;
    font-weight: 600 ;
    font-size: 1.2rem;

}
.social-link>p{
margin-bottom: 5px;

}
.social-link:hover{
    text-decoration: none;

}
.social-link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 40px;
    
}

.link-container{
    display: flex;
    font-weight: bold !important;
    align-items: center;
    margin-bottom: 5px;
}


.address{
        border-left: 4px solid blue;
        text-align: left;
}



@media(max-width : 370px){

    .row{
        margin-right: 0px;
        margin-left: 0px;
        min-width: 100%;
    }
    .col-sm-10,.col-md-6{
        padding-left: 10px;
        padding-right: 10px;
    }

    .mentor{
        display: block;
        width: 100%;
    }

    #header{
        font-size: 17px !important;
        font-weight: 500;
    }

    .footer-logo{
        float: left !important;
        margin: 10px auto !important;
    }

    .heading{
        /* font-size: 25px !important; */
    }
    .footer-heading{
        font-size: 25px !important;
        text-align: center;
    }
    .footer-logo{
        height: 50px;
        width: 150px;
    }
    .footer-header-container{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    

    body{
        padding-top:100px  !important;
    }

    .footer-header-container{
        flex-direction: column;
    }
   

   

}
@media(max-width : 990px){
    #header{
        font-size: 45px ;
    }
    
    .mentor{
        width: 70% !important;
        padding: 5px;
        margin: 20px auto;
    }
    .footer-heading{
        font-size: 30px;
    }
    .footer-logo{
        display: block;
    }

  

   

}
@media(max-width : 700px){
    .footer-heading{
        font-size: 30px;
        text-align: center;
        display: block;
        clear: both;
    }

    .mentor{
        width: 70% !important;
        padding: 5px;
    }

   
  


}

